<p>boards works!</p>


<!-- <div *ngFor="let board of boards">
    <div>{{board.title}}</div>
</div> -->

<div class="container-fluid">
    

<div class="boards" style="display: flex;">
    <div *ngFor="let board of boards" class="card" style="width: 18rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">{{board.title}}</h5>
          <p class="card-text">{{board.description}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
  </div>